/**
 * File customizer.css.
 *
 * Theme Customizer enhancements for a better user experience.
 *
 * Contains any style tweaks we want to make to the customizer
 */

.customize-control-radio .customize-inside-control-row {
  max-width: 47%;
  margin-right: 3%;
  float: left;
}

/* somewhat shady; hides the ability to change themes */
#customize-controls .accordion-section.control-panel-themes {
  display: none !important;
}

.sortables {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.sortables input[type='url'] {
  margin: 5px 5px 5px 0;
  width: 80%;
}

.sortables input[type='url']:invalid {
  border-color: #e40b14;
  outline-color: #e40b14;
  box-shadow: 0 0 0 1px #e40b14;
}

.sortables div {
  cursor: move;
}

.customize-control-sortable-repeater-delete {
  color: #ccc4c1;
}

.customize-control-sortable-repeater-delete:hover {
  color: #e40b14;
}

.customize-control-sortable-repeater-delete .dashicons-no-alt {
  text-decoration: none;
  margin: 8px 0 0 0;
  font-weight: 600;
}

.customize-control-sortable-repeater-delete:active,
.customize-control-sortable-repeater-delete:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.repeater .dashicons-sort {
  margin: 8px 5px 0 5px;
  color: #ccc4c1;
}

.repeater .dashicons-sort:hover {
  color: #a7a7a7;
}

.customize-control-sortable-repeater-add {
  float: right;
}

.repeater.only-row .dashicons-sort {
  display: none;
}
