.acf-field .char-count {
  display: block;
  font-style: italic;
  border: 1px solid #ccd0d4;
  border-top: 0;
  padding: 0 10px;
  text-align: left;
}

.acf-field .char-count .count {
  font-weight: bold;
}

.acf-field .char-count .max {
  font-weight: bold;
}

.acf-field .near-full .count {
  color: rgba(96, 0, 0);
}

.acf-field .full {
  color: rgba(96, 0, 0);
}
